<div class="centered">
    <h1>User Signin</h1>
    <br>
    <div class="form">
        <%= form_tag('/signin', method: :post) do %>
            <div>
                <%= label_tag(:name, "Username:") %>
                <%= text_field_tag(:name) %>
                <br>
                <%= label_tag(:password, "Password:") %>
                <%= password_field_tag(:password) %>
                <br>
                <%= submit_tag("Sign In")%>
            </div>
        <% end %>
    </div>
    <br>
    <div>
        <%= link_to('Log in with Facebook!', '/auth/facebook') %>
    </div>
    <br>
    <%= link_to 'Create a new account', new_user_path %>
    <br>
    <br>
    <%= link_to 'Go Home', root_path %>   
</div>