<%= form_for @comment do |f| %>
    <div>
        <%= f.label :reply %>
        <%= f.text_field :reply %>
        <br>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <%= f.submit %>
    </div>
<% end %>