<div class="showpost">
    <h1><%= @user.name %>'s profile</h1>
    <br>
    <% if admin %>
        <p>This is the site admin</p>
    <% end %>

    <% if session[:user_id] == @user.id %>
        <%= link_to 'Edit Info', edit_user_path(@user) %>
        <br>
        <br>
    <% end %>

    <%= form_tag(user_path(@user), method: "get") do %>
        <%= select_tag :profile_view, options_for_select(['Posts', 'Comments', 'Communities'], :selected => params[:profile_view]), {class: "box"} %>
        <%= submit_tag "Submit", name: nil %>
    <% end %>
</div>

<% if params[:profile_view] == "Posts" || params[:profile_view] == nil %>
    <%= render 'posts_view' %>
<% elsif params[:profile_view] == "Comments" %>
    <%= render 'comments_view' %>
<% elsif params[:profile_view] == "Communities" %>
    <%= render 'communities_view' %>
<% end %>