<div class="commentForm">
    <%= form_for @comment do |f| %>
        <% if @user.errors.any? %>
            <div class="error">
                <p>Hold up:</p>
                <ul>
                    <% @user.errors.full_messages.each do |m| %>
                        <li><%= m %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        
        <%= f.hidden_field :post_id %> 
        <%= f.hidden_field :user_id %> 
        <%= f.text_area(:reply) %>
        <br>
        <br>
        <%= f.submit('Add Comment') %>
    <% end %>
</div>