    <ol>
    <% @posts.each do |p| %>
    <div class="post">
        <li>
        <% if p.url != "" %>
            <h3><%= link_to p.title, p.url %></h3>
        <% else %>
            <h3><%= link_to p.title, post_path(p) %></h3>
        <% end %>
        <div class="postinfo">
            by <%= link_to p.user.name, user_path(p.user) %> on <%= p.created_at.strftime("%B %d, %l:%M%P") %> posted in <%= link_to p.community.category, community_posts_path(p.community) %>

            <% if p.comments.count == 1 %>
                <%= link_to "#{p.comments.count} comment", post_path(p) %></li>
            <% else %>
                <%= link_to "#{p.comments.count} comments", post_path(p) %></li>
            <% end %>
        </div>

    </div>
    <% end %>
    <br>
    <br>
    </ol>