<ol>
<% @posts.each do |p| %>
    <li>
    <% if p.url != "" %>
        <h3><%= link_to p.title, p.url %></h3>
    <% else %>
        <h3><%= link_to p.title, post_path(p) %></h3>
    <% end %>
    by <%= link_to p.user.name, user_path(p.user) %> on <%= p.created_at.strftime("%m/%d/%Y") %>
    <%= link_to "read comments", post_path(p) %></li>
<% end %>
<br>
<br>
</ol>