<%#<%= render "nav_options" %>
<br>
<br>
<% if !@nested %>
  <div class="sorting">
    <%= form_tag(root_path, method: "get") do %>
      <div>
        <%= select_tag :order, options_for_select(['Newest Posts', 'Oldest Posts', 'Self Posts', 'Link Posts']), {prompt: "Sort Posts"} %>
        <%= submit_tag "Sort", name: nil %>
      </div>
    <% end %>
    <%= form_tag root_path, method: :get do %>
      <p>
        <%= text_field_tag :query, params[:query], placeholder: "Search Posts" %>
        <%= submit_tag "Search", name: nil %>
      </p>
    <% end %>
  </div>
<% end %>
<p><%= @description %></p>
<%= render "display" %>
