<% if !@nested %>
<div class="showpost">
  <% if params[:query] %>
    <h3>All posts with <%= params[:query] %>:</h3>
  <% else params[:order] %>
    <h3>All of the <%= params[:order] %>:</h3>
  <% end %>
</div>
  <%= render "full_index" %>
<% end %>
<h3 class="description"><%= @description %></h3>
<br>
<%= render "display" %>
<%= will_paginate @posts %>