<h1>checkitouuuut</h1>
<div class="navoptions">
  <% if @user %>
      <%=link_to 'New Post', new_post_path %>
      <%=link_to 'User Page', user_path(@user) %>
      <%=link_to 'Log Out', logout_path %>
  <% else %>
      <%= link_to 'Log In', signin_path %>
      <%= link_to 'Sign Up', new_user_path %>
  <% end %>
</div>
<br>
<br>
<div class="sorting">
  <%= form_tag(root_path, method: "get") do %>
    <div>
      <%= select_tag :order, options_for_select(['Newest Posts', 'Oldest Posts']), {prompt: "Sort Posts"} %>
      <%= submit_tag "Sort", name: nil %>
    </div>
  <% end %>
  <%= form_tag root_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query], placeholder: "Search Posts" %>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>
</div>

<%= render "display" %>
