<br>
<br>
<% if !@nested %>
  <div class="sorting">
    <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "Search Posts", class: "box" %>
        <%= submit_tag "Search", name: nil %>
    <% end %>
    <%= form_tag(root_path, method: "get") do %>
        <%= select_tag :order, options_for_select(['Newest Posts', 'Oldest Posts', 'Self Posts', 'Link Posts']), {prompt: "Sort Posts", class: "box"} %>
        <%= submit_tag "Sort", name: nil %>
    <% end %>
  </div>
<% end %>
<p class="description"><%= @description %></p>
<%= render "display" %>
<%= will_paginate @posts %>