<h1>Welcome to <%= @community.category %></h1>

<div class="community_info">
    <h3><%= @community.info %></h3>
</div>
<div class="navoptions">
    <%= render "layouts/nav_options" %>
    <%= link_to 'Back home', root_path %>  
</div>

<%= render 'posts/display' %>